.header {
	display: grid;
	padding: 10px 0;
	background-color: #2aae31;
}

.header__wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 15px;
	text-decoration: none;
}

.logo__image {
	width: 50px;
	height: auto;
}

.logo__text {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
}

.b-cart {
	position: relative;
	display: grid;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	background-image: url('img/cart.svg');
	background-repeat: no-repeat;
}

.b-cart__quantity-count {
	position: absolute;
	bottom: 0;
	left: -7px;
	display: grid;
	place-items: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #f94222;
	font-weight: 500;
	font-size: 13px;
	color: #fff;
}

.products {
	padding-bottom: 35px;
}

.products__wrapper {
	position: relative;
	display: grid;
	row-gap: 20px;
}

@media screen and (min-width: 992px) {
	.products__wrapper {
		row-gap: 30px;
	}
}

.products__category {
	display: grid;
	row-gap: 20px;
}

.products__category-title {
	margin-bottom: 0;
	font-size: 20px;
}

@media screen and (min-width: 576px) {
	.products__category-title {
		font-size: 22px;
	}
}

@media screen and (min-width: 992px) {
	.products__category-title {
		font-size: 26px;
	}
}

.products-list {
	display: grid;
	row-gap: 25px;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media screen and (min-width: 576px) {
	.products-list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}
}

@media screen and (min-width: 992px) {
	.products-list {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
	}
}

@media screen and (min-width: 1140px) {
	.products-list {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 25px;
	}
}

.product {
	display: grid;
	border-radius: 20px;
	background-color: #eee;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: box-shadow 0.3s;
}

.product:hover {
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.product__picture {
	position: relative;
	height: 240px;
	overflow: hidden;
}

.product__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
}

.product:hover .product__image {
	transform: scale(1.1);
}

.product__info {
	display: grid;
	row-gap: 10px;
	padding: 15px 10px;
	background-color: #fff;
}

@media screen and (min-width: 992px) {
	.product__info {
		padding: 20px 15px;
	}
}

.product__title {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}
.product__description {
	margin: 0;
	font-weight: 500;
}
.product__price {
	font-weight: bold;
	font-size: 20px;
}
.product__action {
	display: inline-flex;
}
