.header {
	display: grid;
	padding: 10px 0;
	background-color: #2aae31;
}

.header__wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 15px;
	text-decoration: none;
}

.logo__image {
	width: 50px;
	height: auto;
}

.logo__text {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
}

.products {
	padding-bottom: 35px;
}

.products__wrapper {
	position: relative;
	display: grid;
	row-gap: 20px;
}

@media screen and (min-width: 992px) {
	.products__wrapper {
		row-gap: 30px;
	}
}

.products__category {
	display: grid;
	row-gap: 20px;
}

.products__category-title {
	margin-bottom: 0;
	font-size: 20px;
}

@media screen and (min-width: 576px) {
	.products__category-title {
		font-size: 22px;
	}
}

@media screen and (min-width: 992px) {
	.products__category-title {
		font-size: 26px;
	}
}

.products-list {
	display: grid;
	row-gap: 25px;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media screen and (min-width: 576px) {
	.products-list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}
}

@media screen and (min-width: 992px) {
	.products-list {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
	}
}

@media screen and (min-width: 1140px) {
	.products-list {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 25px;
	}
}
